/* Variables */
:root{
  --main-color: #2F2E41; 
  --sec-color: #E74242;
  --ph-color: #3F3F3F;
  --main-bg-color: #FFFFFF;
  --sec-bg-color: #F0EDFF;
}
/*End of variables */
/* Initial styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}
/* End of initial styles */
/* Components and Utilities */
.container {
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.headers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.headers h2{
  font:  700 60px Josefin Sans;
  color: var(--main-color);
  width: 100%;
  text-align: center;
}
.headers p{
  font: 500 16px Expletus Sans;
  line-height: 26px;
  color: var(--main-color);
  max-width: 386px;
  text-align: center;
  margin-top: 13px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1230px;
  }
}
section {
  padding: 50px 0;
}

a.main-btn {
  display: block;
  width: fit-content;
  padding: 8px 15px;
  padding-top: 10px;
  border: 3px solid var(--sec-color);
  background-color: var(--sec-color);
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  transition: .3s;
  font-weight: 600;
}

a.main-btn:hover {
  background: transparent;
  color: var(--main-color);
}
/* End of Components and Utilities */
/* Header */
header {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header .container nav ul {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header .container nav ul li a{
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  transition: .3s;
  font-size: 18px;
  font-weight: 600;
}

header .container nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background: var(--sec-color);
  transition: .3s;
}

header .container nav ul li a:hover::after {
  width: 100%;
}

header .container nav ul li a:hover {
  color: var(--sec-color);
}

header .container .actions {
  display: flex;
  gap: 20px;
}

header .container .actions button {
  all: unset;
  cursor: pointer;
  font-size: 22px;
}

@media (min-width: 768px) {
  header .container nav ul {
    display: flex;
  }
  header .container .actions button.menu {
    display: none;
  }
  header .container .actions button.mode {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--sec-color);
    color: #fff;
    font-size: 18px;
  }
}
/* End of Header */
/* Hero Section */
section.hero {
  padding: 60px 0;
}

section.hero .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

section.hero .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

section.hero .container .text h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
}

section.hero .container .text h1 span {
  color: var(--sec-color);
}

section.hero .container img {
  max-width: 100%;
  flex: 1;
}

.separator {
  width: 100%;
  height: 3px;
  background-color: var(--sec-color);
  position: relative;
}

.separator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: var(--sec-color);
  border: 10px solid #fff;
}

@media (min-width: 1024px) {
  section.hero {
    padding: 100px 0;
  }
  section.hero .container {
    flex-direction: row;
  }
  section.hero .container .text {
    align-items: flex-start;
  }
  section.hero .container .text h1 {
    text-align: left;
    font-size: 111px;
  }
}
/* End of Hero Section */
/* Services Section */
.services-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.servs{
  display: flex;
  justify-content: space-between;
}
.serv-image{
  max-width: 500px;
  margin-right: 23px;
}
.serv-image img {
  width: 100%;
}
.serv-boxes{
  display: grid;
  grid-template-columns: repeat(2,minmax(100px,240px));
  grid-gap:40px 23px;
}
.box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  align-content: flex-end;
  padding-bottom: 25px;
}
.box::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  transition-duration: 0.1s;
  transition-property: border,transform;
  z-index: -1;
}
.box p{
  font: 400 16px Expletus Sans;
  text-align: center;
}
.box h3{
  font: 600 18px Expletus Sans;
  color:#2F2E41;
  padding-bottom: 10px;
  text-align: center;
}
.box i{
  color: #E74242;
  background-color: white;
  font-size: 31px;
  position: absolute;
  top: -25px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}
.box:hover::after{
  border-color: var(--sec-color);
  border-width: 4px;
  transform: translate(0,-7px);
  border-radius: 10px;
}
.box:hover i{
  color: var(--main-color);
}
@media (max-width: 1024px) {
  .servs {
    max-width: 1024px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serv-image{
    margin-right: 0px;
    margin-bottom: 90px;
  }
  .serv-boxes{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,minmax(40px,440px));
    grid-gap:40px 23px;
  }
  .box{
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    padding-bottom: 60px;
  }
  .box i{
    width: 70px;
    height: 70px;
    left: -35px;
    top: -50px;
  }
}
@media (max-width:768px){
  .box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 30px 10px;
    align-items: center;
    justify-content: center ;
  }
  .box i{
    position: static;
    border: none;
  }
  .box h3, .box p{
    text-align: left;
  }
}
/* End Services Section */
/* Works Section */
section.works {
  background: var(--sec-bg-color);
}

section.works .works-wrapper {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

section.works .works-wrapper .work {
  flex: 1;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

section.works .works-wrapper .work img {
  width: 100%;
  border-radius: 5px;
}

section.works .works-wrapper .work span {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 20px;
  display: block;
  padding: 10px 20px;
  background-color: var(--sec-color);
  color: #fff;
}

section.works .works-wrapper .work .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  gap: 15px;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(219, 90, 90, 0) 50%);
  transform: translateY(50%);
  transition: .3s ease-in-out;
}

section.works .works-wrapper .work .info h3 {
  font-size: 25px;
}

section.works .works-wrapper .work:hover .info {
  transform: translateY(0);
}

section.works a.main-btn {
  margin: auto;
}

@media (min-width: 768px) {
  section.works .works-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  section.works .works-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  section.works .works-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* End of Works Section */
/* About Us Section */
.aboutus{
  position: relative;
}
.aboutus::after{
  content: "";
  background-image: url(../imgs/decorator.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 131px;
  height: 302.46px;
  display: none;
}
.aboutus::before{
  content: "";
  background-image: url(../imgs/decorator.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 131px;
  height: 302.46px;
  display: none;
}
.aboutus .info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: center;
}
.aboutus .image{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.aboutus img{
  max-width: 100%;
}
.aboutus .text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutus h3{
  color: var(--main-color);
  font: 500 40px Expletus Sans;
  margin-bottom: 10px;
}
.aboutus .info p{
  color: var(--ph-color);
  font: 400 italic 20px Expletus Sans;
  text-align: center;
}
@media (min-width: 1024px) {
  .aboutus .info {
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .aboutus .text{
    justify-content: flex-start;
    max-width: 500px;
    align-content: flex-start;
  }
  .aboutus h3{
    padding-top: 45px;
    margin-bottom: 16px;
  }
  .aboutus .info p{
    text-align: left;
    border-left: 3px solid var(--sec-color);
    padding-left: 21px;
  }
  .aboutus::after{
    display: block;
    right: 0;
    bottom: -80px;
    z-index: -1;
  }
  .aboutus::before{
    top: -180px;
    display: block;
    left: -40px;
    z-index: -1;
  }
}
/* End of About Us Section */
